.root{
  padding: 100px;
  font-family: 'FTMilky-FREE.woff2';
  src: url('/fonts/MyFont-Regular.woff2') format('woff2');
  font-size: 40px;
  font-weight: 400px;
  font-style: normal;
  text-align: center;
  min-height: 200vh;
  color: black;
  background: whitesmoke;
}

.subtitle1 {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 40px;
  text-align: center;
  color: black
}

.subtitle2 {
  font-size: 50px;
  text-align: center;
  color: purple;
}

.links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.links a {
  color: darkcyan;
  text-align: center;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}